*{
    padding: 0;
    margin: 0;
    background-color: #ffdfb8;
}

.container{
    /* border: 7px solid #000000; */
   margin: 12px;
   /**
   * display: flex; 
   * align-items: center;
   * justify-content: center;
   * text-align: center;
   */
   height: 500px;
}

.flex-container{
    background: #ffff;
    display: flex;
}

.box{
    //margin: 12px;
    height: 100px;
    min-width: 100px;
    flex-grow: 1;
}

.one{
   /* border: 2px solid #010c88; */
   background:  #d30606;
}

.two{
    /* border: 2px solid #ff5a07; */
    background: #ff5a07;
}

.three{
    /* border: 2px solid #c70098; */
    background: #c70098;
}