.container {
    background: #0683d7;
    border: 7px solid midnightblue;
    width: 700px;
    height: 500px;
  }
  
  .box {
    background: palevioletred;
    font-weight: bold;
    text-align: center;
    border: 6px solid maroon;
    width: 200px;
    height: 100px;
    cursor: pointer;
   //color: #ff5e00;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container p{
    text-align: center;
    padding: 18px;
    color: aliceblue;
    text-transform: capitalize;
    text-decoration: underline #0683d7;
  }

  p:hover{
    color: blueviolet;
    background-color: aliceblue;
    text-decoration: none;
    
  }