*{
    background-color: white;
}

div p{
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.odd {
    background-color: rgb(255, 167, 167);
    font-family: Verdana, "DejaVu Sans", sans-serif;
  }
  
  .adjust-font-size {
    font-size: 24px;
  }
  
  #two {
    color: #0000ff;
    font-size: 36px;
  }
  
  #four {
    background-color: hsl(120, 100%, 75%);
    font-weight: bold;
  }

  .click, no-click{
    font-size: 28px;
    font-family: Helvetica, "Times New Romans", sans-serif;

  }

  .click{
    background-color: #000000;
    color: #ffffff;
  }
 
  .no-click{
    background-color: #ffff00 ;
  }

  /*
  .btn{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
  }

  .btn{
    background-color: #000000;
    color: #ffff;
  }

  .btn2-right{
    background-color: #ffff00;
  }  */